<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Despesas Control</title>
    <link href="assets/css/despesas.css" rel="stylesheet">

    <style>

    </style>
</head>

<body>
    <div class="display-central">
        <header class="cabecalho-filtros">
            <nav class="menu-filtros">
                <select name="" class="filtro-ano">
                    <option value="2021">2021</option>
                    <option value="2022">2022</option>
                    <option value="2023">2023</option>
                    <option value="2024">2024</option>
                </select>
                <ul type="none" class="filtro-mes remover-selecao">
                    <li class="btn-filtro-mes" value="0">
                        Jan
                    </li>
                    <li class="btn-filtro-mes" value="1">
                        Fev
                    </li>
                    <li class="btn-filtro-mes" value="2">
                        Mar
                    </li>
                    <li class="btn-filtro-mes" value="3">
                        Abr
                    </li>
                    <li class="btn-filtro-mes" value="4">
                        Mai
                    </li>
                    <li class="btn-filtro-mes" value="5">
                        Jun
                    </li>
                    <li class="btn-filtro-mes" value="6">
                        Jul
                    </li>
                    <li class="btn-filtro-mes" value="7">
                        Ago
                    </li>
                    <li class="btn-filtro-mes" value="8">
                        Set
                    </li>
                    <li class="btn-filtro-mes" value="9">
                        Out
                    </li>
                    <li class="btn-filtro-mes" value="10">
                        Nov
                    </li>
                    <li class="btn-filtro-mes" value="11">
                        Dez
                    </li>
                </ul>
            </nav>
        </header>

        <main class="menu-despesas">
            <section class="informacoes-mes-atual">
                <div class="mes-saldo">
                    <div class="fundo-mes-saldo">
                        <p id="data-filtrado"></p>
                    </div>
                    <div class="fundo-mes-saldo">
                        <p id="valor-data-filtrado">Saldo: 00,00R$</p>
                    </div>
                </div>
                <table class="teble-titulo">
                    <thead>
                        <tr>
                            <th class="data-table">Data</th>
                            <th class="descricao-table">Descrição</th>
                            <th class="observacao-table">Observação</th>
                            <th class="valor-table">Valor</th>
                            <th class="documento-table">Doc.</th>
                        </tr>
                    </thead>
                </table>
                <div class="despesas-lancadas">
                    <table class="teble-itens" id="tabela-lancamentos">
                        <!-- <tr>
                                <td class="data-table td-negativo">07/10/2021</td>
                                <td class="descricao-table td-negativo">Internet</td>
                                <td>
                                    <p class="observacao-item td-negativo">Internet foi paga atsdfsdfsdfsdf brsdfsdfsdfdfasada</p>
                                </td>
                                <td class="valor-table td-negativo">-1500,00 R$</td>
                                <td class="documento-table td-negativo">
                                    <a href="https://i.pinimg.com/236x/15/ba/b4/15bab4ee6c41dae1c5cbe3af0d9b6ef2.jpg" target="_blank" rel="noopener noreferrer"><img src="assets/img/icon-documento.png" alt="" style="width: 1.3vw;"></a>
                                </td>
                            </tr>
                            <tr>
                                <td class="data-table td-positivo">07/10/2021</td>
                                <td class="descricao-table td-positivo">Internet</td>
                                <td class="observacao-item td-positivo">Internet foi paga atrasada</td>
                                <td class="valor-table td-positivo">1500,00 R$</td>
                                <td class="documento-table td-positivo">
                                    <a href="https://i.pinimg.com/236x/15/ba/b4/15bab4ee6c41dae1c5cbe3af0d9b6ef2.jpg" target="_blank" rel="noopener noreferrer"><img src="assets/img/icon-documento.png" alt="" style="width: 1.3vw;"></a>
                                </td>
                            </tr> -->
                    </table>
                </div>
            </section>
            <aside class="lancamento-despesa">

                <h1 class="titulo-lancamento">Lançamento</h1>

                <form class="conteiner-from" id="form-lancamento">
                    <div class="form-group">
                        <label class="label-input" for="input-descricao-lancamento">Descrição</label><br>
                        <input class="input-lancamento" type="text" id="input-descricao-lancamento" name="descricao" maxlength="20" value="Energia nuclear" required>
                    </div>

                    <div class="conteiner-data-valor-comprovante">
                        <div class="conteiner-data-valor">
                            <div class="form-group">
                                <label class="label-input" for="input-data-lancamento">Data</label><br>
                                <input class="input-lancamento" type="date" id="input-data-lancamento" name="data" placeholder="DD/MM/YYYY" maxlength="10" value="2021-10-13" required>
                            </div>
                            <div class="form-group">
                                <label class="label-input" for="input-valor-lancamento">Valor</label><br>
                                <input class="input-lancamento" type="number" step="0.01" id="input-valor-lancamento" name="valor" maxlength="10" value="23.50" required>
                            </div>
                        </div>
                        <div class="conteiner-comprovante">
                            <div class="form-group">
                                <input type="file" id="input-comprovante-lancamento" name="comprovante">
                                <div class="input-comprovante-lancamento-estilizado">
                                    <div class="upload-borda-pontilhada">
                                        <p>Insira um comprovante</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="label-input" for="input-observacao-lancamento">Observação</label><br>
                        <textarea class="input-lancamento" id="input-observacao-lancamento" name="observacao"></textarea>
                    </div>

                    <div class="conteiner-btn-submit">
                        <button class="btn-submit-lancamento" type="submit">Salvar</button>
                    </div>
                </form>
            </aside>
        </main>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery.maskedinput/1.4.1/jquery.maskedinput.min.js"></script>
    <script src="src/controller/DespesasController.js"></script>
    <script src="src/index.js"></script>
</body>

</html>